
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.wrapper{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 80px;
}



.textarea{
width: 900px;
height: 150px;
padding: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(60,10px);
  grid-gap: 3px;
}

.keyboard__key {
  display: flex;
  grid-column: span 4;
  background-color:blueviolet;
  width: auto;
  position: relative;
  height: 40px;
  z-index: 5;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 30px;
  align-items:center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}



.keyboard__key_2din {
  grid-column: span 8;
  font-size: 15px;
}

.keyboard__key_1_5din {
  grid-column: span 6;
  font-size: 15px;
}

.keyboard__key_2_5din {
  grid-column: span 10;
  font-size: 15px;
}

.keyboard__key_space {
  grid-column: span 20;
}